.task-list {
    padding-top: 30px;

    .task-list__title {
        text-transform: uppercase;
    }
}

.task {
    width: 100%;
    min-height: 40px;
    padding: 10px;
    margin-top: 16px;
    box-sizing: border-box;
    background-color: $white;
    border: 1px solid $blue-border;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.task--error {
        border-color: red;
    }

    &.task--editing {
        border-color: #e5e5e5;
    }

    .task__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .input-checkbox {
            margin-right: 6px;
        }
        .task-info__name {
            width: 100%;
        }
        .task-info__name,
        .task-info__input {
            color: $black;
        }
        .task-info__input {
            width: 100%;
            border: none;

            &:focus,
            &:active {
                outline: none;
            }
            &::-webkit-input-placeholder,
            &:-ms-input-placeholder,
            &::placeholder {
                color: $grey-text;
            }
        }
    }

    .task__comment-info {
        display: flex;
        align-self: flex-end;
        width: 50px;

        .icon {
            height: 14px;
        }
    }
}

.task-add-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.task-detail {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 30px 30px 0 0;

    .task-detail__description,
    .task-detail__comment-list {
        margin-top: 20px;

        .task-detail__subtitle {
            color: $orange-text;
        }
    }

    .task-detail__comment {
        width: 100%;
        display: flex;
        margin-top: 20px;

        .task-detail__comment__detail-img {
            margin-right: 16px;
        }
        .task-detail__comment__detail-info {
            width: 100%;

            .task-detail__comment__detail-username {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .task-detail__comment__detail-tools {
                    width: 100px;
                    display: flex;
                    justify-content: flex-end;

                    span {
                        margin-left: 6px;
                        cursor: pointer;
                    }
                }
            }
            .task-detail__comment__detail-comment,
            .task-detail__comment__detail-date {
                margin-top: 5px;
            }
            .task-detail__comment__detail-date {
                font-size: 12px;
            }
        }
    }
}

.lightbox-background {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}
