$blue-border        : #A3BED8;
$grey-border        : #BBB;

$orange-text        : #FF5700;
$grey-text          : #8A8A8A;

$black              : black;
$white              : white;
$blue               : #2782BF;
$orange             : #FF5700;
$grey               : #F2F1F1;
$mid-grey           : #D8D8D8;
